header {
    padding: 20px 0px;

    .logo-box {
        img {
            width: 200px;
        }
    }

    .primary-menu {
        a {
            font-size: 18px;
            letter-spacing: 1px;
            padding: 8px 10px;
            position: relative;

            &::after {
                position: absolute;
                bottom: 0;
                content: '';
                width: 0%;
                left: 0;
                height: 1px;
                background-color: #000;
                transition: all .3s linear;
            }

            &:hover::after {
                width: 100%;
            }
        }

        a.active-menu {
            &::after {
                position: absolute;
                bottom: 0;
                content: '';
                width: 100%;
                left: 0;
                height: 1px;
                background-color: #000;
                transition: all .3s linear;
            }
        }

    }

    .user {
        position: relative;

        img {
            width: 22px;
            cursor: pointer;
        }

        .cart-icon {
            position: relative;

            .cart-count {
                position: absolute;
                bottom: -14px;
                right: -10px;
                background-color: #000;
                color: #fff;
                width: 25px;
                height: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                font-size: 14px;
            }
        }

    }

    .menu-icon {
        display: none;

        img {
            width: 30px;
        }
    }

    .back-menu {
        display: none;
        align-items: center;
    }

    @media (max-width:992px) {
        .menu-icon {
            display: block;
        }

        .back-menu {
            display: flex;
        }

        .primary-menu {
            position: fixed;
            top: 0;
            right: -100%;
            width: 50%;
            height: 100%;
            z-index: 1;
            background-color: #f4f4f4;
            padding: 15px;
            transition: all .3s ease-in-out;

            ul {
                flex-direction: column;
            }

            nav {
                margin-top: 40px;
            }
        }

        .active-menu {
            right: 0%;
        }
    }

    @media (max-width:768px) {
        .logo-box {
            img {
                width: 140px;
            }
        }

        .primary-menu {
            width: 100%;
        }
    }
}


// ========== Hero Section ========

.hero-section {
    .main-hero-section {
        display: flex;
        border: 1px solid #222;

        .hero-content {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .first-tagline {
                text-transform: uppercase;
                font-size: 20px;
                position: relative;
                padding-left: 10px;
                display: block;

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 100%;
                    width: 50px;
                    height: 2px;
                    background: #000;
                    @media (max-width:500px) {
                        display: none;
                    }
                }
            }

            .secound-tagline {
                text-transform: uppercase;
                font-size: 20px;
                position: relative;
                padding-left: 10px;
                display: inline-block;

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 100%;
                    width: 50px;
                    height: 2px;
                    background: #000;
                    @media (max-width:500px) {
                        display: none;
                    }
                }
            }
          
        }

        .hero-images {
            width: 50%;
        }
    }

    @media (max-width:992px) {
        .main-hero-section {
            flex-direction: column;
            border: none;

            .hero-content {
                width: 100%;
                padding: 40px 15px;
            }

            .hero-images {
                width: 100%;
            }
        }
    }
    @media (max-width:500px) {
        .main-hero-section {
            .hero-content {
                align-items: self-start;
                padding: 25px 0px;
            }
        }
    }
}

// ============ section heading ==========
.section-heading {
    h2 {
        color: #000;
        position: relative;
        display: inline-block;
        padding-right: 10px;

        span {
            color: #4c4c4c;
        }

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 100%;
            width: 70px;
            height: 2px;
            background: #000;
            @media (max-width:500px) {
                display: none;
            }
        }
    }
}


.product-card {
    .img-box {
        overflow: hidden;
        border-radius: 10px;

        img {
            transition: all .2s linear;
        }
        &:hover{
            img{
                transform: scale(1.1);
            }
        }
    }

    .content-box {
        padding: 10px;
        h4{
            font-size: 16px;
            @media (max-width:500px) {
                font-size: 14px;
            }
        }
    }
}

// ============ Latest collection ==========

.latest-section {
    .latestProducts-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 20px;
        align-items: stretch;
        margin-top: 40px;
        @media (max-width:768px) {
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        }
        @media (max-width:500px) {
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));  
            gap: 10px;
            margin-top: 20px;
        }
    }
}


// ============= Best Saller ==========

.best-saller{
    .bestsallerProducts-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 20px;
        align-items: stretch;
        margin-top: 40px;
        @media (max-width:768px) {
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        }
        @media (max-width:500px) {
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));  
            gap: 10px;
            margin-top: 20px;
        }
    }
}

// ============= Our Policy ==========


.our-policy{
    .main-our-policy{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 60px;
        text-align: center;
        .box{
            display: flex;
            flex-direction: column;
            gap: 10px;
           .box-img{
            img{
                width: 50px;
                display: inline-block;
            }
           }
           .box-content{
            p{
                color: #4c4c4c;
            }
           }
        }
        @media (max-width:768px) {
            gap: 20px;
        }
    }
}


.newlatter{
    .main-newlatter{
        p{
            color: #4c4c4c;
        }
       .subscribe-box{
        margin-top: 30px;
        input[type="email"]{
            border: 1px solid #000;
            width: 35%;
            padding: 15.6px 10px;
        }
        input[type="submit"]{
            border: 1px solid #000;
            text-transform: uppercase;
            background-color: #000;
            color: #fff;
            padding: 16px 40px;
        }
        @media (max-width:768px) {
            form{
                display: flex;
                gap: 10px;
                flex-direction: column;
                input[type="email"]{
                    width: 100%;
                }
            }
        }
       } 
    }
}


// =========== footer =========

footer{
    p{
        font-size: 14px;
    }
    .main-footer{
        // margin-top: 150px;
        padding-bottom: 30px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .box{
            width: 30%;
            ul{
                display: flex;
                flex-direction: column;
                gap: 5px;
                font-size: 14px;
            }
        }
        .footer-logo{
            width: 150px;
        }

        @media (max-width:768px) {
            gap: 20px;
            .box{
                width: 100%;
            }
        }
    }
    .bottom-footer{
        border-top: 1px solid #ccc;
    }
}


// ========== collection-page ==========

.collection-page{
    .collection-warapp{
        display: flex;
        gap: 40px;
        .filter-bar{
            width: 20%;
            .filter-bar-style{
                position: sticky;
                top: 30px;
            }
            .filter-icon{
                display: none;
                width: 10px;
                height: max-content;
            }
            .filter-box{
                margin-top: 20px;   
                padding: 15px;
                border: 1px solid #ccc;
                p{
                    font-size: 20px;
                    margin-bottom: 10px;
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    li{
                        display: flex;
                        gap: 10px;
                    }
                }
            }
        }
        
        .collection-side-bar{
            width: 80%;
            .collection-heading{
                display: flex;
                justify-content: space-between;
                align-items: center;

                .product-short{
                    border: 1px solid #ccc;
                    padding: 5px;
                }
            }
            .collection-products{
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
                grid-gap: 20px;
                align-items: stretch;
                margin-top: 40px;
                @media (max-width:768px) {
                    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                }
                @media (max-width:500px) {
                    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
                    gap: 10px;
                }
            }
        }

        @media (max-width:1024px) {
            flex-direction: column;
            gap: 20px;

            .filter-bar{
                width: 100%;
                .filter-icon{
                    display: block;
                }
                h4{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
                .filter-hide{
                    display: none;
                }
            }
            .collection-side-bar{
                width: 100%;
            }
        }

        @media (max-width:768px) {
            .collection-side-bar{
                .collection-heading{
                    flex-direction: column;
                    align-items: self-start;
                }
            }
        }
    }
}


// ========= Search box ======


.showSearch-section{
    padding: 40px 0px;
    .main-showSearch-section{
        display: flex;
        align-items: center;
        .search-box{
            width: 70%;
            margin: 0 auto;
            border: 1px solid #ccc;
            display: flex; 
            align-items: center;
            justify-content: space-between;
            border-radius: 20px;
            padding: 0px 15px;
            input{
                width: 100%;
            padding: 10px 0px;
                &:focus{
                    border: none;
                }
            }
            img{
                width: 25px;
            }
  
        }
        .close-icon{
            cursor: pointer;
            display: inline-block;
        }
    }
}


// =================== product-details ==========
.product-details{
    .main-product-details{
        display: flex;
        gap: 40px;
        .img-box{
            width: 50%;
            display: flex;
            gap: 20px;
            .multipal-img{
                width: 20%;
                display: flex;
                flex-direction: column;
                gap: 10px;
                height: 100%;
                overflow-x: auto;
            }
            .single-img{
                width: 80%;
                display: flex;
            }
            img{
                object-fit: cover;
            }
        }
        .content-box{
            width: 50%;
            h1{
                font-size: 26px;
            }
            .star-icon{
                margin-top: 10px;
                display: flex;
                gap: 5px;
                align-items: center;
                img{
                    width: 20px;
                    height: 20px;
                }
                p{
                    font-size: 20px;
                    // display: flex;
                    line-height: normal;
                }
            }
            .product-price{
                font-size: 28px;
                font-weight: 500;
                margin: 30px 0;
            }
            .product-description{
                color: #4c4c4c;
                line-height: 1.7;
            }
            .product-size{
                margin: 40px 0;
                .sizes{
                    margin-top: 10px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    button{
                        padding: 10px 20px;
                        cursor: pointer;
                        background: #ededed;
                    }
                }
            }

            .cart-btn{
                padding: 14px 30px;
                background: #000;
                color: #fff;
                cursor: pointer;
            }

            .product-feature{
                margin-top: 30px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                p{
                    color: #4c4c4c;
                    font-size: 14px;
                }
            }
        }
        @media (max-width:1050px) {
            flex-direction: column;
            .content-box{
                width: 100%;
            }
        }
        @media (max-width:768px) {
            .img-box{
                width: 100%;
            }
        }
        @media (max-width:768px) {
            .img-box{
               flex-direction: column-reverse;
               .single-img{
                width: 100%;
               }
                .multipal-img{
                    width: 100%;
                    flex-direction: row;
                    img{
                        width: 100px;
                    }
               }
            }
        }
    }
    
    .description-box{
        padding: 70px 0 0;
        .description-review{
            display: flex;
            button{
                padding: 12px 25px;
                border: 1px solid #ccc;
            }
        }
        .d-r-content-box{
            border: 1px solid #ccc;
            padding: 30px 20px;
        }
    }
}

.relatedProducts{
    padding-top: 60px;

    .main-relatedProduct{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        grid-gap: 20px;
        align-items: stretch;
        margin-top: 40px;
        @media (max-width:768px) {
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        }
        @media (max-width:500px) {
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        }
    }
}

.cart-page{
    .main-cart-page{
        margin-top: 40px;
        .items{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            padding: 20px;
            border-top: 1px solid #ccc;
            .item-img{
                img{
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                }
            }
            .item-name{
                .product-size{
                    width: 30px;
                    height: 30px;
                    font-size: 18px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #e6e6e6;
                }
            }
            .quntity{
                input{
                    border: 1px solid #ccc;
                    padding: 10px;
                    width: 100px;
                }
            }
            .delete-icon{
                img{
                    width: 30px;
                    cursor: pointer;
                }
            }
            @media (max-width:600px) {
                flex-wrap: wrap;
                .delete-icon{
                    img{
                        width: 20px;
                    }
                }
            }
        }
    }
}
.cart-value{
    width: 500px;
    margin: 50px 0 0 auto;
    @media (max-width:768px) {
        width: 100%;
    }
}

.cart-total{
    h4{
        margin-bottom: 20px;
    }
    p{
        padding: 15px 10px;
        border-top: 1px solid #ccc;
        display: flex;
        justify-content: space-between;
    }
}

// ============ place Order ===========

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    input{
        padding: 10px;
        border: 1px solid #ccc;
        width: 100%;
    }
    .group-box{
        display: flex;
        gap: 20px;

        .box{
            width: 50%;
        }
    }
}

.order-place{
    .main-order-place{
        margin-top: 30px;
        display: flex;
        gap: 50px;
        .form-box{
            width: 50%;
        }
        .payment-details{
            width: 50%;
            .payment-method{
                margin-top: 30px;
            }
            .multi-payments{
                margin-top: 30px;
                display: flex;
                gap: 20px;
                .box{
                    label{
                        display: flex;
                        padding: 10px;
                        gap: 10px;
                        border: 1px solid #ccc;
                    }
                }
            }
        }
    }
}

.my-orders{
    .main-my-order{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 40px;
        .items{
            padding: 20px 0 0;
            border-top: 1px solid #ccc;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .product-details{
                display: flex;
                gap: 20px;
                img{
                    width: 100px;
                }
                .details{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
            }
        }
    }
}


.login-form{
    .main-login-form{
        width: 60%;
        margin: 0 auto;
        h3{
            text-align: center;
        }
        .login-inputs{
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            .login-other{
                display: flex;
                justify-content: space-between;
                p{
                    cursor: pointer;
                }
            }
        }
    }
}